*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #efb5b1;
  color: #222;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

.center {
  text-align: center;
}

.linethrough {
  text-decoration: line-through;
}

.app {
  width: 56.3rem;
  padding: 3.2rem 0;
  margin: 0 auto;
  background-image: url(../public/main.jpg);
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.3);
}

.header {
  padding: 0 3.2rem;
  margin-bottom: 2rem;
}

.heading-primary {
  font-size: 2.4rem;
  text-transform: capitalize;
}

.heading-tertiary {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.subheading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  font-weight: 600;
}

.stat {
  text-align: right;
  font-size: 1.6rem;
}

.add-form {
  display: flex;
  justify-content: center;
  gap: 1.4rem;
  margin-bottom: 2.4rem;
}

.add-form *:focus {
  outline: none;
  box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
}

.input,
.select {
  border: none;
  border-radius: 12px;
  padding: 0.8rem 3.2rem;
  font-family: inherit;
  font-size: 1.6rem;
}

.input {
  text-transform: uppercase;
}

.category-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 3.2rem;
  margin-bottom: 3.6rem;
  color: #fff;
  border-radius: 12px;
  background-color: transparent;
}

.category {
  height: 6rem;
  padding: 1.6rem;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  transition: all 0.5s;
}

.category:hover {
  height: fit-content;
}

.category--1 {
  background-color: #4e5aac;
}

.category--2 {
  background-color: #875ecf;
}

.category--3 {
  background-color: #009ff7;
}

.category--4 {
  background-color: #83c42b;
}

.category--5 {
  background-color: #ff9900;
}
.category--6 {
  background-color: #ffc600;
}
.category--7 {
  background-color: #8694b9;
}

.count,
.icon {
  font-size: 2.4rem;
  fill: #fff;
  color: #fff;
  position: absolute;
  top: 1.4rem;
}

.count {
  left: 1.4rem;
}

.icon {
  right: 1.4rem;
}

.item {
  font-size: 1.6rem;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.2rem;
}

.item:not(:last-child) {
  margin-bottom: 1.2rem;
}

.description {
  flex: 2;
}

.btn {
  border: none;
  background-color: #fff;
  padding: 0.4rem 1.6rem;
  border-radius: 9px;
}

.btn--add,
.btn--delete {
  font-size: 2rem;
  text-transform: uppercase;
}
